# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/dictionaries/
.idea/inspectionProfiles/
src/com/
/.idea/workspace.xml
/out/
